services:
  web:
    build: .
    container_name: frcVisionDataset
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
      - .env.db
    environment:
      - DATABASE_URL=postgresql+psycopg2://myuser:mypassword@db:5432/myappdb
    volumes:
      - .:/app
    restart: always

  frontend:
    image: node:18
    working_dir: /frontend
    volumes:
      - ./frontend:/frontend
      - ./app/services/email/templates:/frontend/compiled_emails
    command: >
      sh -c "
        npx sass scss/custom.scss ../app/web/static/css/custom.css &&
        npx mjml email_templates/*.mjml -o ../app/services/email/templates
      "

  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    env_file:
      - .env.db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI
    restart: unless-stopped

volumes:
  postgres_data:
