{% extends "dashboard.html" %} {% block dashboard %}
<div class="container-fluid">
    <div class="row gx-4 mt-2">
        <div class="col-xl-4 mb-xl-4">
            <div class="bg-body-tertiary rounded full-dash-height mb-4 mb-xl-0">
                <div class="p-4">
                    <h2>Upload Data</h2>
                    <form class="row">
                        <div class="mb-3">
                            <label for="hashInput" class="form-label"
                                >md5 Hash</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="hashInput"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="dateInput" class="form-label"
                                >Capture Date</label
                            >
                            <input
                                type="date"
                                class="form-control"
                                id="dateInput"
                                value="2025-08-22"
                                min="2024-01-01"
                                max="2025-08-22"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="archiveInput" class="form-label"
                                >Archive</label
                            >
                            <input
                                type="file"
                                class="form-control"
                                id="archiveInput"
                                aria-describedby="archiveHelpBlock"
                            />
                            <a
                                id="archiveHelpBlock"
                                class="form-text"
                                href="/docs/upload"
                            >
                                How to create an archive
                            </a>
                        </div>
                        <button class="btn btn-primary" role="submit">
                            Upload
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-8 mb-xl-4">
            <div class="bg-body-tertiary rounded full-dash-height mb-4 mb-xl-0">
                <div class="p-4">
                    <h2>Old Baches</h2>
                    <div
                        class="table-container table-responsive max-size-table"
                    >
                        <table
                            class="table table-hover tertiary-table"
                            class="batchTable"
                        >
                            <thead class="sticky-top bg-body-tertiary">
                                <th scope="col">
                                    UUID<span
                                        data-bs-toggle="tooltip"
                                        data-bs-title="UUID is shortened here. Make sure to click the copy button!"
                                        ><iconify-icon
                                            icon="bi:info-circle-fill"
                                            width="16"
                                            height="16"
                                            class="ms-2"
                                        ></iconify-icon
                                    ></span>
                                </th>
                                <th scope="col">Status</th>
                                <th scope="col">Valid Images</th>
                                <th scope="col">Rejected Images</th>
                                <th scope="col">Start Time</th>
                            </thead>
                            <tbody id="downloadBatchTableBody">
                                <tr
                                    data-bs-toggle="collapse"
                                    data-bs-target="#row0"
                                    class="clickable"
                                >
                                    <td class="uuid-cell">
                                        <a
                                            href="#"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="opinaf983wna98"
                                            class="text-decoration-none"
                                            id="id0"
                                            >as89het</a
                                        ><button
                                            class="btn btn-sm btn-link p-0 ms-2 border-0"
                                            onclick="copyID(0, event)"
                                            type="button"
                                        >
                                            <iconify-icon
                                                id="copyIcon0"
                                                icon="bi:clipboard-fill"
                                                width="16"
                                                height="16"
                                            ></iconify-icon>
                                        </button>
                                    </td>
                                    <td>
                                        <span class="badge bg-success"
                                            >Ready</span
                                        >
                                    </td>
                                    <td class="">100</td>
                                    <td class="">12</td>
                                    <td>2025-08-11 14:32</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="p-0">
                                        <div class="collapse" id="row0">
                                            <div class="p-3">
                                                <strong>Images Total:</strong>
                                                112
                                                <br />
                                                <strong>File Size</strong>: 12gb
                                                <strong>Capture Date:</strong>
                                                2025-08-11 14:32 <br />
                                                <strong>Error:</strong> None
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
