// Extra row-cols utilities (7–24)
@for $i from 7 through 24 {
    // Base (extra small, no breakpoint)
    .row-cols-#{$i} > * {
        flex: 0 0 auto;
        width: #{100% / $i};
    }

    // Loop through all breakpoints
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            .row-cols-#{$breakpoint}-#{$i} > * {
                flex: 0 0 auto;
                width: #{100% / $i};
            }
        }
    }
}
