// Bootstrap overrides first
@import "base/variables";

// Bootstrap itself
@import "bootstrap/scss/bootstrap";

// Global helpers
@import "base/mixins";
@import "base/reset";
@import "base/globals";

// Components
@import "components/iconify";
@import "components/theme-toggle";
@import "components/treeview";

// Pages
@import "pages/dashboard";
@import "pages/docs";
@import "pages/home";
@import "pages/login";
@import "pages/register";
