<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ current_title }} - Dashboard - Barbell</title>
        <link
            rel="icon"
            type="image/png"
            href="/static/images/favicon-96x96.png"
            sizes="96x96"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/static/images/favicon.svg"
        />
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/images/apple-touch-icon.png"
        />
        <meta name="apple-mobile-web-app-title" content="Barbell" />
        <link rel="manifest" href="/static/images/site.webmanifest" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Armata&display=swap"
            rel="stylesheet"
        />
        {% include "vite_css.html" %}
    </head>
    <body
        data-page="{{ page }}"
        data-section="{{ current_page }}"
        data-role="{{ user.role }}"
    >
        {% include "navbar.html" %}

        <main id="content" class="my-auto">
            <div class="d-flex">
                {% include "dashboard-sidebar.html" %}

                <div class="flex-grow-1 main-dashboard">
                    <!-- Mobile toggle button -->
                    <button
                        class="btn position-fixed d-lg-none sidebar-toggle bg-primary"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#mobileSidebar"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% block dashboard %}{% endblock %}
                </div>
                <div
                    aria-live="polite"
                    aria-atomic="true"
                    class="position-relative"
                >
                    <div
                        class="toast-container position-fixed bottom-0 end-0 p-3"
                        id="dashboardToastContainer"
                    ></div>
                </div>
            </div>
        </main>
    </body>
</html>
{% include "vite_js.html" %}
