<style>
    .navbar-nav .nav-link {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
</style>
<nav
    class="navbar navbar-expand-lg navbar-primary navbar-dark bg-primary sticky-top"
>
    <div class="container-xxl">
        <a href="/" class="navbar-brand">
            <span class="fw-bold text-white">[Barbell]</span>
        </a>
        <!-- Toggle for mobile nav -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Docs Dropdown -->
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle text-light"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Docs
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item text-body" href="/docs"
                                >Main Docs</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item text-body" href="/docs/api"
                                >API Docs</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- Github Link -->
                <li class="nav-item">
                    <a
                        class="nav-link d-flex align-items-center py-2"
                        href="https://github.com/crummyh/Barbell?tab=readme-ov-file#Barbell"
                    >
                        <iconify-icon
                            icon="bi:github"
                            width="16"
                            height="16"
                        ></iconify-icon>
                        <small class="d-lg-none ms-2">GitHub</small>
                    </a>
                </li>
                <!-- Theme Toggle -->
                <li class="nav-item dropdown">
                    <button
                        class="btn btn-link nav-link dropdown-toggle d-flex align-items-center py-2 px-2"
                        id="bd-theme"
                        type="button"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        aria-label="Toggle theme (dark)"
                    >
                        <iconify-icon
                            icon="bi:moon-stars-fill"
                            width="16"
                            height="16"
                            aria-hidden="true"
                            class="theme-icon-active"
                        ></iconify-icon>
                        <span class="d-lg-none ms-2" id="bd-theme-text"
                            >Toggle theme</span
                        >
                    </button>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="bd-theme-text"
                    >
                        <li>
                            <button
                                type="button"
                                class="dropdown-item d-flex align-items-center"
                                data-bs-theme-value="light"
                                aria-pressed="false"
                            >
                                <iconify-icon
                                    icon="bi:sun-fill"
                                    width="16"
                                    height="16"
                                    aria-hidden="true"
                                    class="me-2"
                                ></iconify-icon>
                                Light
                            </button>
                        </li>
                        <li>
                            <button
                                type="button"
                                class="dropdown-item d-flex align-items-center active"
                                data-bs-theme-value="dark"
                                aria-pressed="true"
                            >
                                <iconify-icon
                                    icon="bi:moon-stars-fill"
                                    width="16"
                                    height="16"
                                    aria-hidden="true"
                                    class="me-2"
                                ></iconify-icon>
                                Dark
                            </button>
                        </li>
                        <li>
                            <button
                                type="button"
                                class="dropdown-item d-flex align-items-center"
                                data-bs-theme-value="auto"
                                aria-pressed="false"
                            >
                                <iconify-icon
                                    icon="bi:circle-half"
                                    width="16"
                                    height="16"
                                    aria-hidden="true"
                                    class="me-2"
                                ></iconify-icon>
                                Auto
                            </button>
                        </li>
                    </ul>
                </li>
                <!-- Account / Signin -->
                {% if user == None %}
                <li class="nav-item" id="accountHolder">
                    <a href="/login" class="nav-link text-white">Log In</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link text-white">Register</a>
                </li>
                {% else %}
                <div class="dropdown">
                    <button
                        class="btn btn-link nav-link dropdown-toggle d-flex align-items-center py-2 px-2"
                        type="button"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                    >
                        <iconify-icon
                            icon="bi:person-circle"
                            width="16"
                            height="16"
                        ></iconify-icon>
                    </button>
                    <span class="d-lg-none ms-2">Account</span>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/account" class="dropdown-item"
                                ><iconify-icon
                                    icon="bi:person-circle"
                                    width="16"
                                    height="16"
                                    class="me-2"
                                ></iconify-icon
                                >My Account</a
                            >
                        </li>
                        <li>
                            <a href="/dashboard" class="dropdown-item"
                                ><iconify-icon
                                    icon="bi:display-fill"
                                    width="16"
                                    height="16"
                                    class="me-2"
                                ></iconify-icon
                                >Dashboard</a
                            >
                        </li>
                        <li>
                            <a href="#" class="dropdown-item" id="logoutLink"
                                ><iconify-icon
                                    icon="bi:box-arrow-in-left"
                                    width="16"
                                    height="16"
                                    class="me-2"
                                ></iconify-icon
                                >Logout</a
                            >
                        </li>
                    </ul>
                </div>
                <script>
                    document
                        .getElementById("logoutLink")
                        .addEventListener("click", async function (e) {
                            e.preventDefault();
                            try {
                                await fetch("/auth/v1/logout", {
                                    method: "GET",
                                    credentials: "include",
                                });
                                window.location.href = "/login";
                            } catch (err) {
                                console.error("Logout failed", err);
                            }
                        });
                </script>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<script src="/static/js/theme-toggle.js"></script>
