{% extends "dashboard.html" %} {% block dashboard %}
<style>
    .label-tree > ul {
        overflow-y: auto;
        max-height: calc(
            100vh - 56px - 9em - 38.4px - 95px - 24px - 28.8px - 38px - 15px
        );
    }
</style>
<link rel="stylesheet" href="/static/css/custom-treeview.css" />

<div class="container-fluid">
    <div class="row gx-4 mt-2">
        <div class="col-xl-6 mb-xl-4">
            <div class="bg-body-tertiary rounded full-dash-height mb-4 mb-xl-0">
                <div class="p-4">
                    <div id="labelTreeView" class="label-tree"></div>
                    <div>
                        <div id="selectedLabelsTitle">0 Labels selected:</div>
                        <pre
                            id="selectedLabels"
                            class="border rounded p-2 bg-body"
                        >
[]</pre
                        >
                        <div>
                            <button class="btn btn-danger" id="deleteBtn">
                                <iconify-icon
                                    icon="bi:trash-fill"
                                    width="16"
                                    height="16"
                                    class="me-2"
                                ></iconify-icon
                                >Delete
                            </button>
                            <button class="btn btn-secondary" id="modifyBtn">
                                <iconify-icon
                                    icon="bi:arrow-clockwise"
                                    width="16"
                                    height="16"
                                    class="me-2"
                                ></iconify-icon
                                >Modify
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="bg-body-tertiary rounded full-dash-height">
                <div class="p-4">
                    <div>
                        <h4>Create Label Catagory</h4>
                        <form id="labelCatagoryForm">
                            <div class="mb-3">
                                <label for="catagoryName" class="form-label"
                                    >Catagory Name</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    id="catagoryName"
                                />
                            </div>
                            <div class="mb-3">
                                <label for="superCatagorySelect"
                                    >Super Catagory</label
                                >
                                <select
                                    class="form-select"
                                    id="superCatagorySelect"
                                >
                                    <option selected>None</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mb-4">
                                Create
                            </button>
                            <span id="catagoryOutput"></span>
                        </form>

                        <h4>Create Label Super Catagory</h4>
                        <form id="labelSuperCatagoryForm">
                            <div class="mb-3">
                                <label
                                    for="superCatagoryName"
                                    class="form-label"
                                    >Super Catagory Name</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    id="superCatagoryName"
                                />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Create
                            </button>
                            <span id="superCatagoryOutput"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %} {% block fileEnd %}
    <script src="/static/js/tooltips.js"></script>
    <script src="/static/js/treeview.js"></script>
    <script src="/static/js/label-dashboard.js"></script>
    {% endblock %}
</div>
