{% extends "dashboard.html" %} {% block dashboard %}
<style>
    .label-tree > ul {
        overflow-y: auto;
        max-height: calc(
            100vh - 56px - 9em - 38.4px - 95px - 24px - 28.8px - 38px - 15px
        );
    }
</style>
<link rel="stylesheet" href="/static/css/custom-treeview.css" />

<div class="container-fluid">
    <div class="row gx-4 mt-2">
        <div class="col-xl-6 mb-xl-4">
            <div class="bg-body-tertiary rounded full-dash-height mb-4 mb-xl-0">
                <div class="p-4">
                    <div id="labelTreeView" class="label-tree"></div>
                    <div>
                        <div id="selectedLabelsTitle">0 Labels selected:</div>
                        <pre
                            id="selectedLabels"
                            class="border rounded p-2 bg-body"
                        >
[]</pre
                        >
                    </div>
                    <div>
                        <button
                            type="button"
                            class="btn btn-primary me-2"
                            data-bs-toggle="modal"
                            data-bs-target="#createLabel"
                        >
                            Create Label Catagory
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#createSuperLabel"
                        >
                            Create Label Super Catagory
                        </button>
                    </div>
                    <div
                        class="modal fade"
                        id="createLabel"
                        tabindex="-1"
                        aria-labelledby="createLabelLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1
                                        class="modal-title fs-5"
                                        id="createLabel"
                                    >
                                        Create Label Catagory
                                    </h1>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label
                                            for="catagoryName"
                                            class="form-label"
                                            >Catagory Name</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control mb-3"
                                            id="catagoryName"
                                        />
                                        <label for="superCatagorySelect"
                                            >Super Catagory</label
                                        >
                                        <select
                                            class="form-select"
                                            id="superCatagorySelect"
                                        >
                                            <option selected>
                                                Pick a Super Catagory
                                            </option>
                                            <option value="1">one</option>
                                            <option value="2">two</option>
                                            <option value="3">three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-primary"
                                    >
                                        Save changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="modal fade"
                        id="createSuperLabel"
                        tabindex="-1"
                        aria-labelledby="createSuperLabelLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1
                                        class="modal-title fs-5"
                                        id="createSuperLabelLabel"
                                    >
                                        Create Label Catagory
                                    </h1>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label
                                            for="superCatagoryName"
                                            class="form-label"
                                            >Super Catagory Name</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="superCatagoryName"
                                        />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-primary"
                                    >
                                        Save changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="bg-body-tertiary rounded full-dash-height">
                <div class="p-4"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block fileEnd %}
<script src="/static/js/tooltips.js"></script>
<script src="/static/js/treeview.js"></script>
<script src="/static/js/label-dashboard.js"></script>
{% endblock %}
