{% set content_padding = content_padding | default("p-5") %} {% set
custom_content_styles = custom_content_styles | default("") %} {% set navbar =
navbar | default(true) %} {% set footer = footer | default(true) %} {% set
custom_footer_styles = custom_footer_styles | default("") %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} - Barbell</title>
        <link
            rel="icon"
            type="image/png"
            href="/static/images/favicon-96x96.png"
            sizes="96x96"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/static/images/favicon.svg"
        />
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/images/apple-touch-icon.png"
        />
        <meta name="apple-mobile-web-app-title" content="Barbell" />
        <link rel="manifest" href="/static/images/site.webmanifest" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />

        {% include "vite_css.html" %} {% block fileStart %}{% endblock %}
    </head>
    <body data-page="{{ page }}">
        {% if navbar %} {% include "navbar.html" %} {% else %} {% endif %} {%
        block pre_content %}{% endblock %}

        <main
            id="content"
            class="my-auto {{ content_padding }}{{ custom_content_styles }}"
        >
            {% block content %}{% endblock %}
        </main>

        {% block post_content %} {% endblock %} {% if footer %} {% include
        "footer.html" %} {% endif %} {% include "vite_js.html" %}
    </body>
</html>
