.code-switch-content code {
    border-top-width: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.code-switch-content pre {
    margin-bottom: 0px;
}

.code-switch {
    margin-bottom: 1em;
}
